
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* header */

header {
  width: 1440px;
  height: 140px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ateglar{
     width: 564px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ateglar a{
    color: black;
    text-decoration: none;
}
.laslesvpn{
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  left: 150px;
}
.laslesvpn i{
    color: #F53838;
}
.sign{
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin{
    width: 53px;
    height: 19px;
    left: 1057px;
}
.signup{
    width: 150px;
    height: 45px;
    color: #F53855;
    border-radius: 50px;
    border:1px solid #F53855 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    left: 1140px;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.xator1{
    left: 150px;
}
.birinchi{
    width: 555px;
    height: 140px;
    font-size: 50px;
    left: 150px;
}
.ikkinchi{
    width: 555px;
    height: 60px;
    font-size: 16px;
}
.submit input{
    border-radius: 10px;
    background-color: #F53838;
    width: 250px;
    height: 60px;
    left: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    font-size: 16px;
  

}
.xator2 img{
    width: 611.24px;
    height: 382.44px;
    left: 745px;
}
.main2{
    margin-bottom: 30px;
   
}
.group{
    width: 1152px;
    height: 176px;
    left: 150px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.group .shoxruzbek{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.boxstat-box{
border-left:2px solid rgb(0, 0, 0, 0.1);
  border-right:2px solid rgb(0, 0, 0, 0.1);
  width: 384px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shoxruzbek img{
    padding-right: 10px;
}




.main3{
    
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.main3-img img{
    width: 508.12px;
    height: 414.71px;
    left: 184.52px;
    top: 960.38px;
}
.h1 h1{
    font-size: 35px;
    width: 384.41px;
    height: 100px;
    left: 862.12px;
}
.p{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.check i{
color: #2FAB73;
width: 20px;
height: 20px;
}
.span{
    width: 163px;
    height: 30px;
   margin: 25x;
   color: #4F5665;
}
.main4{
    text-align: center;
    margin-top: 150px;
}
.main4 b{
    font-size: 35px;
}
.p2{
    color: #4F5665;
    font-size: 16px;
    margin-top: 20px;
}

.free-standart-premium{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.free{
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    text-align: center;
}
.standart{
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    text-align: center;
}
.premium{
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
 
   
}
.free img{
    width: 144.9px;
    height: 165.37px;
}
.standart img{
    width: 144.9px;
    height: 165.37px;
}
.premium img{
    width: 144.9px;
    height: 165.37px ;
    
}
.uenw{
   
}


















































.main5{
    text-align: center;
    margin-top: 150px;
}
.main5-b{
    font-size: 35px;
}
.main5-span{
margin-top: 30px;
}
.main5-span span{
    font-size: 16px;
    color: #4F5665;
    
}
.xarita{
    width: 1060px;
    height: 537.77px;
    margin-top: 150px;
}
.netflix{
    width: 1,135.64px;
    height: 208.32px;
}
.main6{
    text-align: center;
}
.main6-b{
    font-size: 35px;
}
.main6-span{
    margin-top: 30px;
    margin-bottom: 50px;
}
.main6-span span{
    font-size: 16px;
    color: #4F5665;

}
.main8{
    width: 1,140px;
    height: 233px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    
}
.main8-div1{
    width: 410px;
}
.main8-b b{
    font-size: 35px;
}
.main8-p p{
    font-size: 16px;
    color: #4F5665;
    margin-top: 15px;
}
.main8-div2 input{
    width: 250px;
    background-color: #F53838;
    color: white;
    padding: 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}